--- 
# ACT in US Public Universities
---

## Problem Statement

A national college preparatory program wanted to investigate if public schools are generally accepting the students with average ACT scores. Since the program has no budget for the project they are asking to see if this is a line of questioning worthy of pursuing. 
<br>
<br>
So the analysis performed will pursue work towards identifying if there is some enough of a relationship to pursue this further. 
<br>
<br>
This is to inform students that plan to apply in their own state If they should expect their scores to be advantages for public schools.  Being in-state students should already give them a leg up on out-of-state applicants.
I will select which states are most participative and their respective public universities to explore this potential connection.


---
## Background
In the United States highs schoolers typically take a standardized tests, SAT or ACT, to determine if they are college ready. It is typically required by universities and colleges to determine admission. There are many debates as to the credibility of these tests and their measure of "readiness" from grade point average to extra curriculars. In this notebook it is important to note that the maximum ACT score is 36. Additionally that note note different area of the US have different preferences. 

## Outside Research
Important Note because I was only looking at data avaliable for 2017 to 2019 I wanted to potentiallly gather the average composite scores for the years 2020-2022 I summarized the results of my search in the table below with the location linked. 


<br>
Table of Average ACT Scores from 2017 to 2021

|Year|*Source*|Average ACT Composite Score|
|---|---|---|
|2017|*ACT.Org [Source](https://www.act.org/content/dam/act/unsecured/documents/cccr2017/ACT_2017-Average_Scores_by_State.pdf)*|21.0|unk|
|2018|*ACT.Org [Source](https://www.act.org/content/dam/act/unsecured/documents/cccr2018/Average-Scores-by-State.pdf)*|20.8|unk|
|2019|*ACT.Org [Source](https://www.act.org/content/dam/act/secured/documents/cccr-2019/Average-Scores-by-State.pdf)*|20.7|unk|
|2020|*ACT.Org [Source](https://www.act.org/content/dam/act/unsecured/documents/2020/2020-Average-ACT-Scores-by-State.pdf)*|20.6|unk|
|2021|*ACT.Org [Source](https://www.act.org/content/dam/act/unsecured/documents/2021/2021-Average-ACT-Scores-by-State.pdf)*|20.7|unk|


<br>

Table of Test Policies at States of Interest

|State|*Source*|Required Test Type|
|---|---|---|
|Rhode Island|State Website [Source](http://www.ride.ri.gov/InstructionAssessment/Assessment/PSATandSAT.aspx#39491532-exemptions-from-testing)|SAT|
|New Hampshire|Governement Website [Source](https://www.education.nh.gov/sites/g/files/ehbemt326/files/inline-documents/nh_sat_school_day_faqs.pdf)|SAT|
|Michigan|Governement Website [Source](https://www.michigan.gov/documents/mde/Guide_to_State_Assessments_622260_7.pdf)|SAT|
|Delaware|Governement Website [Source](https://www.doe.k12.de.us/Page/2717)|SAT|
|Alabama|Governement Website [Source](https://www.alsde.edu/sec/sa/Pages/assessmentdetails.aspx?AssessmentName=ACT%20with%20Writing&navtext=ACT%20with%20Writing)|ACT|
|Kentucky|Governement Website [Source](https://education.ky.gov/AA/Assessments/Pages/ACT.aspx)|ACT|
|Louisiana|Governement Website [Source](https://www.louisianabelieves.com/measuringresults/assessments-for-high-schools)|ACT|
|Mississippi|Governement Website [Source](https://mdek12.org/OSA/ACT)|ACT|
|Montana|Governement Website [Source](http://opi.mt.gov/Leadership/Assessment-Accountability/MontCAS/Required-Assessments/ACT-With-Writing-FAQ)|ACT|
|Nevada|Governement Website [Source](http://www.doe.nv.gov/Assessments/College_Career_Readiness_Assessments_ACT/)|ACT|
|North Carolina|Governement Website [Source](https://www.dpi.nc.gov/districts-schools/federal-program-monitoring/every-student-succeeds-act-essa)|ACT|
|Utah|Governement Website [Source](https://www.schools.utah.gov/assessment/assessments)|ACT|
|Wisconsin|Governement Website [Source](https://dpi.wi.gov/assessment/act)|ACT|



### Data Dictionary

The following is a summary of the features within various data sets that will be analyzed throughout this notebook. 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|state|*object*|act_17_to_19|This is the state within the US.| 
|participation_17|*float*|act_17_to_19|This is the size of the high school population being tested in 2017.| 
|composite_17|*float*|act_17_to_19|This is the average composite score for for high school 2017.| 
|participation_18|*float*|act_17_to_19|This is the size of the high school population being tested in 2018.| 
|composite_18|float|*act_17_to_19*|This is the average composite score for 2018.| 
|participation_19|*float*|act_17_to_19|This is the size of the high school population being tested in 2019.| 
|composite_19|*float*|act_17_to_19|This is the average composite score for 2019.| 
|num_of_applicants|*int*|pub_act_prcntile_by_st_score|The number of university applicants that for each public state university.|
|acceptance_rate|*float*|pub_act_prcntile_by_st_score|The percentage of students accepted based on the number of applicants| 
|tot_percentile25|*int*|pub_act_prcntile_by_st_score|The total 25% percentile, 25% of accepted students at public universities scored at or below on the listed composite score | 
|tot_percentile75|*int*|pub_act_prcntile_by_st_score|The total 75% percentile, 75% of accepted students at public universities scored at or below on the listed composite score | 
|pub_school_state|*object*|pub_act_prcntile_by_st_score|This is the state of each 4 year public university(duplicates within this column mean that multiple public school information avaliable for that school).|

---
# Data Cleaning
---

### Helper Functions

In [1]:
# basic functions that may be necessary to use later on in the notebook

# manual_mean() will be used to manually calculate the mean of a values
def manual_mean(num_list):
    '''The manual_mean function will be used to manually calculate the mean of a values of a list. manual_mean(list)'''
    return sum(num_list)/len(num_list)

# manual_sd() will be used to manually calculate the standard deviation of a numerical list
def manual_sd(num_list):
   
  n = len(num_list)
   
  mean = manual_mean(num_list)
   
  deviations = [(x - mean) ** 2 for x in num_list]
    
  variance = sum(deviations) / n
  return round(variance**0.5,2)

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [2]:
#  prcnt_to_float function takes a string removes the '%' returns a float
def prcnt_to_float(string):
    n_str=''
    for char in string:
        if char != '%':
            n_str+=char
        elif char =='%':
            pass
    return round(float(n_str)/100,3)

In [3]:
# This function will return the input(string) as an int
def to_int(string):
    n_string = []
    if len(string) !=2:
        char_list = [char for char in string]
        char_list = char_list[0] +  char_list[1]
        return int(char_list)
    else:
        char_list = string
        return int(char_list)

In [4]:
# This function will take in a string with '&' and replace with 'and'
def and_to_and(string):
    n_str=''
    for char in string:
        if char != '&':
            n_str+=char
        elif char =='&':
            n_str += ' and '
    return n_str

--- 
## Imports 
---

*All libraries used should be added here*

In [5]:
# Imports:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
%matplotlib inline

## Datasets

* [`act_2017.csv`](./data/act_2017.csv): These are the ACT Scores by State for 2017
* [`act_2018.csv`](./data/act_2018.csv): These are the ACT Scores by State for 2018
* [`act_2019.csv`](./data/act_2019.csv): These are the ACT Scores by State for 2019

In [6]:
# This code block will go through basic steps through my importing and cleaning process

# Importing relevant data sets
act_df_17=pd.read_csv('../data/act_2017.csv')
act_df_18=pd.read_csv('../data/act_2018.csv')
act_df_19=pd.read_csv('../data/act_2019.csv')
act_df_by_college=pd.read_csv('../data/sat_act_by_college.csv')

In [7]:
# the following code blocks I will be looking at the top rows, look at the data types fixing if needed, check for missing values, check that min/max make sense in ACT context, renme columns if necessary, drop unnecessary columns,
#     merge columns that may need to be combined...etc... exporting all changes as a csv file! 

act_df_17.head(5)
act_df_17.tail(2)

        State Participation  English  Math  Reading  Science Composite
50  Wisconsin          100%     19.7  20.4     20.6     20.9      20.5
51    Wyoming          100%     19.4  19.8     20.8     20.6     20.2x

In [8]:
# first needs to adjust column names: remove white spaces and convert to lower case
act_df_17.columns= act_df_17.columns.str.strip().str.lower()
act_df_17.columns

Index(['state', 'participation', 'english', 'math', 'reading', 'science',
       'composite'],
      dtype='object')

In [9]:
act_df_17.info() # Note: here that the composite was passed in as a string when it should have been an integer and percentage is an object because of '%' symbol. It is noticeable that there are no missing values which is great
                    # but to error on the side of caution I will begin checking unique values to ensure they are expected.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   state          52 non-null     object
 1   participation  52 non-null     object
 2   english        52 non-null     float64
 3   math           52 non-null     float64
 4   reading        52 non-null     float64
 5   science        52 non-null     float64
 6   composite      52 non-null     object
dtypes: float64(4), object(3)
memory usage: 3.0+ KB

In [10]:

#Quick check to see why the composite is not considered a float ### Note: We can see that there is a value with an x
print(len(act_df_17['composite'].unique()))
print(act_df_17['composite'].unique())
act_df_17['composite'].value_counts(); # suppressed the output but when check saw '20x' only occured once so safe to remove that row in my opinion

38
['21.0' '19.2' '19.8' '19.7' '19.4' '22.8' '20.8' '25.2' '24.1' '24.2'
 '21.4' '19.0' '22.3' '22.6' '21.9' '21.7' '20.0' '19.5' '24.3' '23.6'
 '25.4' '21.5' '18.6' '20.4' '20.3' '17.8' '25.5' '23.9' '19.1' '22.0'
 '21.8' '23.7' '24.0' '18.7' '20.7' '23.8' '20.5' '20.2x']

In [11]:
# make percentage string into float decimal
act_df_17['participation'] = act_df_17['participation'].apply(prcnt_to_float)
act_df_17.head(5)

      state  participation  english  math  reading  science composite
0  National           0.60     20.3  20.7     21.4     21.0      21.0
1   Alabama           1.00     18.9  18.4     19.7     19.4      19.2
2    Alaska           0.65     18.7  19.8     20.4     19.9      19.8
3   Arizona           0.62     18.6  19.8     20.1     19.8      19.7
4  Arkansas           1.00     18.9  19.0     19.7     19.5      19.4

In [12]:
# To locate the index value so to then pass onto drop function
act_df_17.loc[act_df_17['composite'] == '20.2x']

      state  participation  english  math  reading  science composite
51  Wyoming            1.0     19.4  19.8     20.8     20.6     20.2x

In [13]:
act_df_17.drop(51,inplace = True) # Wyoming dropped from the list 
act_df_17.tail(2)

            state  participation  english  math  reading  science composite
49  West Virginia           0.69     20.0  19.4     21.2     20.5      20.4
50      Wisconsin           1.00     19.7  20.4     20.6     20.9      20.5

In [14]:
# Convert multiple columns data types (composite and participateion percentage) #df = df.astype({'composite':'float','participation':'float'})

act_df_17 = act_df_17.astype({'composite':'float'})

act_df_17.dtypes #now all are in correct data types! so we can then run a describe and get all relevant data!

state             object
participation    float64
english          float64
math             float64
reading          float64
science          float64
composite        float64
dtype: object

In [15]:
act_df_17[1:].describe() # Note: No need to include the national values in the summary stats (that row can be used as a reference for the mean displayed here)

       participation    english       math    reading    science  composite
count      50.000000  50.000000  50.000000  50.000000  50.000000  50.000000
mean        0.645600  20.962000  21.210000  22.038000  21.050000  21.546000
std         0.320778   2.367285   1.992153   2.080903   3.214143   2.032311
min         0.080000  16.300000  18.000000  18.100000   2.300000  17.800000
25%         0.310000  19.000000  19.400000  20.425000  19.900000  19.800000
50%         0.680000  20.800000  21.050000  21.850000  21.300000  21.400000
75%         1.000000  23.300000  23.100000  24.175000  22.975000  23.600000
max         1.000000  25.500000  25.300000  26.000000  24.900000  25.500000

In [16]:
# the columns of interest for this analysis are 'state', 'participation', and 'composite' 

# the following code will drop all other irrelevant columns

act_df_17.drop(labels=['english','math','reading','science'], axis=1,inplace = True)

In [17]:
print(act_df_17.head(3))
act_df_17.isnull().sum()

      state  participation  composite
0  National           0.60       21.0
1   Alabama           1.00       19.2
2    Alaska           0.65       19.8

state            0
participation    0
composite        0
dtype: int64

Note: The ACT dataset for 2017 is now in the ideal set up to work with in the analysis with no empty values!

In [18]:
act_df_18.dtypes #we can see that the participation rate is a object because of the '%' sign

State             object
Participation     object
Composite        float64
dtype: object

In [19]:
act_df_18.head()

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

In [20]:
act_df_18.dtypes #we can see that the participation rate is a object because of the '%' sign

State             object
Participation     object
Composite        float64
dtype: object

In [21]:
## first needs to adjust column names: remove white spaces and convert to lower case
act_df_18.columns = act_df_18.columns.str.strip().str.lower()

In [22]:
# will apply my prcnt_to_float function created earlier to 'participation' series
act_df_18['participation'] = act_df_18['participation'].apply(prcnt_to_float)
act_df_18['participation'].head(4)

0    1.00
1    0.33
2    0.66
3    1.00
Name: participation, dtype: float64

In [23]:
print(act_df_18.dtypes) #checking to ensure dtypes are now only containg one object('state')
act_df_18.isnull().sum() #checking to see if there are any empty data cells and counting the amount

state             object
participation    float64
composite        float64
dtype: object

state            0
participation    0
composite        0
dtype: int64

Note: Since we do not have any empty data points and our data is in the correct format wanted we can then move foward and make sure there are not any outliers that do not make sense within the data set. We will take a peak at the unique values within our two important columns.

In [24]:
act_df_18['composite'].unique() #should expect our unique values to be between 1-36

array([19.1, 20.8, 19.2, 19.4, 22.7, 23.9, 25.6, 23.8, 23.6, 19.9, 21.4,
       18.9, 22.3, 22.5, 21.8, 21.6, 20.2, 24. , 25.5, 24.2, 21.3, 18.6,
       20. , 20.1, 17.7, 25.1, 23.7, 24.5, 20.3, 19.3, 23.5, 18.3, 21.9,
       19.6, 20.7, 20.4, 24.1, 22.2, 20.5])

In [25]:
act_df_18['participation'].unique() # should expect our unique values to be between 0.0-1.0 (hopefully above 0.0 participation)

array([1.  , 0.33, 0.66, 0.27, 0.3 , 0.26, 0.17, 0.32, 0.53, 0.89, 0.36,
       0.43, 0.68, 0.71, 0.07, 0.31, 0.25, 0.22, 0.99, 0.16, 0.67, 0.98,
       0.42, 0.2 , 0.15, 0.77, 0.45, 0.24, 0.65])

After a quick run through out ACT data from 2018 we can see that the data seems to be in the ideal format for analysis later in the notebook. No need for anymore adjustments at this stage.

In [26]:
# Quick look shows that we only have to adjust the titles, participation object(to float)
act_df_19.head(2)
print(act_df_19.dtypes)
print(act_df_19.isnull().sum())
print(act_df_19['Participation'].unique())
act_df_19['Composite'].unique()

State             object
Participation     object
Composite        float64
dtype: object
State            0
Participation    0
Composite        0
dtype: int64
['100%' '38%' '73%' '23%' '27%' '22%' '13%' '32%' '54%' '49%' '80%' '31%'
 '35%' '29%' '66%' '72%' '6%' '28%' '21%' '19%' '95%' '82%' '14%' '25%'
 '63%' '96%' '42%' '17%' '12%' '78%' '75%' '39%' '20%' '24%' '52%']

array([18.9, 20.1, 19. , 19.3, 22.6, 23.8, 25.5, 24.1, 23.5, 21.4, 22.5,
       24.3, 21.6, 21.2, 19.8, 18.8, 22.3, 24.4, 18.4, 20.8, 20. , 17.9,
       25. , 24.2, 24.5, 19.9, 21.1, 23.6, 24.7, 19.4, 20.5, 20.3, 24. ,
       22.1, 20.7])

In [27]:
# ajusting column titles
act_df_19.columns = act_df_19.columns.str.strip().str.lower()
print(act_df_19.head(3))

# performing prct_to_float function for 'participation' column
act_df_19['participation'] = act_df_19['participation'].apply(prcnt_to_float)
act_df_19.head(2)

     state participation  composite
0  Alabama          100%       18.9
1   Alaska           38%       20.1
2  Arizona           73%       19.0

     state  participation  composite
0  Alabama           1.00       18.9
1   Alaska           0.38       20.1

In [28]:
# A quick look at all of our data sets need to drop Wyoming and National for each dataset
print(act_df_17.head()) # drop National (index 0)
print(act_df_18.tail()) # drop Wyoming (index 50)
act_df_19.tail() # drop Wyoming and Nation(index50 & 51)

      state  participation  composite
0  National           0.60       21.0
1   Alabama           1.00       19.2
2    Alaska           0.65       19.8
3   Arizona           0.62       19.7
4  Arkansas           1.00       19.4
            state  participation  composite
47       Virginia           0.24       23.9
48     Washington           0.24       22.2
49  West Virginia           0.65       20.3
50      Wisconsin           1.00       20.5
51        Wyoming           1.00       20.0

            state  participation  composite
47     Washington           0.24       22.1
48  West Virginia           0.49       20.8
49      Wisconsin           1.00       20.3
50        Wyoming           1.00       19.8
51       National           0.52       20.7

In [29]:
# dropping indexes for each dataframe above by index

# drop National (index 0)
act_df_17.drop(0,inplace = True) 
print(act_df_17.head(4))
print(act_df_17.shape)
# drop Wyoming (index 51)
act_df_18.drop(51,inplace = True) 
print(act_df_18.tail(4))
print(act_df_18.shape)

 # drop Wyoming and Nation(index50 & 51)
act_df_19.drop([50,51],inplace = True) 
print(act_df_19.tail(4))
print(act_df_19.shape)

      state  participation  composite
1   Alabama           1.00       19.2
2    Alaska           0.65       19.8
3   Arizona           0.62       19.7
4  Arkansas           1.00       19.4
(50, 3)
            state  participation  composite
47       Virginia           0.24       23.9
48     Washington           0.24       22.2
49  West Virginia           0.65       20.3
50      Wisconsin           1.00       20.5
(51, 3)
            state  participation  composite
46       Virginia           0.21       24.0
47     Washington           0.24       22.1
48  West Virginia           0.49       20.8
49      Wisconsin           1.00       20.3
(50, 3)

#

In [30]:
# look for duplicate states using value_counts
print(act_df_17['state'].value_counts().head(2))
print(act_df_18['state'].value_counts().head(2)) # the act_df_18 has a duplicate 'Maine'
act_df_19['state'].value_counts().head(2)

Connecticut    1
Alaska         1
Name: state, dtype: int64
Maine          2
Connecticut    1
Name: state, dtype: int64

Connecticut    1
Alaska         1
Name: state, dtype: int64

In [31]:
#locating index of Maine duplicate
print(act_df_18.shape)
act_df_18.loc[act_df_18['state']=='Maine']

(51, 3)

    state  participation  composite
19  Maine           0.07       24.0
20  Maine           0.07       24.0

In [32]:
# removing Maine duplicate from act_df_18 
print(act_df_18.shape)

act_df_18.drop(19,inplace=True)

#locate Maine index again to ensure it is droppped
act_df_18.loc[act_df_18['state']=='Maine']

(51, 3)

    state  participation  composite
20  Maine           0.07       24.0

In [33]:
print(act_df_18.shape)
act_df_18['state'].value_counts().head()

(50, 3)

Connecticut             1
Alaska                  1
District of columbia    1
Georgia                 1
Texas                   1
Name: state, dtype: int64

In [34]:
# adding year to column names to concatenate data set 
act_df_17.rename(
    columns = {'participation':'participation_17', 'composite':'composite_17'},inplace=True)
act_df_18.rename(
    columns = {'participation':'participation_18', 'composite':'composite_18'},inplace=True)
act_df_19.rename(
    columns = {'participation':'participation_19', 'composite':'composite_19'},inplace=True )

In [35]:
# will concatenate data sets (need to have the same rows to add columns)
# will sort by state names
print(act_df_17.shape) 
print(act_df_18.shape) 
print(act_df_19.shape)

# setting rows in the same order 
act_df_17 = act_df_17.sort_values(by='state')
act_df_18 = act_df_18.sort_values(by='state')
act_df_19 = act_df_19.sort_values(by='state')

(50, 3)
(50, 3)
(50, 3)

In [36]:
act_df_17.sort_values(by='state').tail()
act_df_18.sort_values(by='state').tail()

            state  participation_18  composite_18
46        Vermont              0.24          24.1
47       Virginia              0.24          23.9
48     Washington              0.24          22.2
49  West Virginia              0.65          20.3
50      Wisconsin              1.00          20.5

In [37]:
# concatenating the data sets of ACT scores from year 2017-2019
act_df_complete = pd.concat([act_df_17.reset_index(), 
                             act_df_18.reset_index().drop('state',axis=1),
                             act_df_19.reset_index().drop('state',axis=1)], 
                        axis=1)

In [38]:
act_df_complete.drop(labels=['index'],axis=1,inplace=True)

In [39]:
act_df_complete.head()

,state,participation_17,composite_17,participation_18,composite_18,participation_19,composite_19
0,Alabama,1.00,19.2,1.00,19.1,1.00,18.9
1,Alaska,0.65,19.8,0.33,20.8,0.38,20.1
2,Arizona,0.62,19.7,0.66,19.2,0.73,19.0
3,Arkansas,1.00,19.4,1.00,19.4,1.00,19.3
4,California,0.31,22.8,0.27,22.7,0.23,22.6

In [40]:
# concatenating the data sets of ACT scores from year 2017-2019

############################################################# WHEN READY TO EXPORT HERE
act_df_complete.to_csv('../data/act_17_to_19.csv', index=False)

## Dataset
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges for 2022

In [41]:
# will drop all the columns not needed in act_df_by_college 
act_df_by_college.drop(labels = ['Test Optional?', 'Accept Rate','Applies to Class Year(s)','Policy Details','Number of Applicants','SAT Total 25th-75th Percentile'],axis = 1)

                                    School ACT Total 25th-75th Percentile
0                      Stanford University                          32-35
1                          Harvard College                          33-35
2                     Princeton University                          32-35
3                      Columbia University                          33-35
4                          Yale University                          33-35
..                                     ...                            ...
411  University of Texas Rio Grande Valley                          17-22
412             University of South Dakota                          19-25
413              University of Mississippi                          21-29
414                  University of Wyoming                          22-28
415            University of Texas El Paso                          17-23

[416 rows x 2 columns]

In [42]:
# change all potential variations in act_df_by_college['School'] contents
act_df_by_college['School'] = act_df_by_college['School'].apply(and_to_and).str.lower()

In [43]:
act_df_by_college['School'].tail(10)

406            florida institute of technology
407    louisiana state universitybaton rouge
408                                the citadel
409                     new college of florida
410                     thomas aquinas college
411      university of texas rio grande valley
412                 university of south dakota
413                  university of mississippi
414                      university of wyoming
415                university of texas el paso
Name: School, dtype: object

In [44]:
# seperating act range into two different columns
act_df_by_college['act 25-27 list']=act_df_by_college['ACT Total 25th-75th Percentile'].str.split('-')
act_df_by_college['act 25-27 list']

0      [32, 35]
1      [33, 35]
2      [32, 35]
3      [33, 35]
4      [33, 35]
         ...
411    [17, 22]
412    [19, 25]
413    [21, 29]
414    [22, 28]
415    [17, 23]
Name: act 25-27 list, Length: 416, dtype: object

In [45]:
# Now have a data frame to merge into act_df_by_college 
act_split_df=pd.DataFrame(act_df_by_college["act 25-27 list"].tolist(), columns=['percentil25th','percentil27', 'drop'])

In [46]:
# concatenating the data sets of ACT scores from year 2017-2019 #######DELETE
act_df_complete = pd.concat([act_df_17.reset_index(), act_df_18.drop('state',axis = 1),act_df_19.drop('state',axis = 1)], axis=1)
act_df_complete=act_df_complete.drop('index',axis = 1)
act_df_complete.head()

,state,participation_17,composite_17,participation_18,composite_18,participation_19,composite_19
0,Alabama,1.00,19.2,1.00,19.1,1.00,18.9
1,Alaska,0.65,19.8,0.33,20.8,0.38,20.1
2,Arizona,0.62,19.7,0.66,19.2,0.73,19.0
3,Arkansas,1.00,19.4,1.00,19.4,1.00,19.3
4,California,0.31,22.8,0.27,22.7,0.23,22.6

In [47]:
# concatenating columns within the data sets to now only have pubilc schools
act_df_college_complete = pd.concat([act_df_by_college, act_split_df], axis=1)
#act_df_college_complete=act_df_complete.drop('index',axis = 1)
act_df_college_complete.head()

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile,act 25-27 list,percentil25th,percentil27,drop
0,stanford university,Yes,2021,Stanford has adopted a one-year test optional ...,47452,4.3%,1440-1570,32-35,"[32, 35]",32,35,None
1,harvard college,Yes,2021,Harvard has adopted a one-year test optional p...,42749,4.7%,1460-1580,33-35,"[33, 35]",33,35,None
2,princeton university,Yes,2021,Princeton has adopted a one-year test optional...,35370,5.5%,1440-1570,32-35,"[32, 35]",32,35,None
3,columbia university,Yes,2021,Columbia has adopted a one-year test optional ...,40203,5.5%,1450-1560,33-35,"[33, 35]",33,35,None
4,yale university,Yes,2021,Yale has adopted a one-year test optional poli...,36844,6.1%,1460-1570,33-35,"[33, 35]",33,35,None

In [48]:
act_df_college_complete.tail(3)

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile,act 25-27 list,percentil25th,percentil27,drop
413,university of mississippi,No,NaN,Ole Miss requires either the SAT or ACT. It do...,15371,88.1%,1050-1270,21-29,"[21, 29]",21,29,None
414,university of wyoming,No,NaN,University of Wyoming requires either the SAT ...,5348,96.0%,1060-1280,22-28,"[22, 28]",22,28,None
415,university of texas el paso,No,NaN,UTEP requires either the SAT or ACT. It does n...,7157,99.9%,820-1050,17-23,"[17, 23]",17,23,None

In [49]:
pub_uni_df = pd.read_excel('../data/4 year public universities by state.xlsx')
public_uni = pub_uni_df['university_name'].tolist()
print(type(public_uni))

act_df_college_complete.shape

<class 'list'>

(416, 12)

In [50]:
# will quickly put in similar format as act_df_by_college['School']
pub_uni_df['university_name'] = pub_uni_df['university_name'].apply(and_to_and).str.lower()

In [51]:
pub_uni_df["university_name"] = pub_uni_df['university_name'].str.lower()
pub_uni_df["university_name"].head(2)

0             auburn university
1    alabama a and m university
Name: university_name, dtype: object

In [52]:
# the funciton below will retrive the name of the state for each university in the publinc_university_df
def get_state(name):
    # if the School name is in the publinc_university_df (list of public universities in the US)
    if name in set(pub_uni_df['university_name']):
        # returns the contents  within my 'state' column in the publinc_university_df (to append as a column of states)
        return pub_uni_df[  pub_uni_df['university_name']== name  ]['state'].values[0]
    # if the university is not a public school then my string 'drop'
    else:
        return 'drop'

act_df_college_complete['public school state'] = act_df_college_complete['School'].apply(get_state)

In [53]:
act_df_college_complete.dtypes

School                            object
Test Optional?                    object
Applies to Class Year(s)          object
Policy Details                    object
Number of Applicants               int64
Accept Rate                       object
SAT Total 25th-75th Percentile    object
ACT Total 25th-75th Percentile    object
act 25-27 list                    object
percentil25th                     object
percentil27                       object
drop                              object
public school state               object
dtype: object

In [54]:
act_df_college_complete['School'].value_counts()

vanderbilt university                       1
concordia collegemoorhead                 1
george mason university                     1
duke university                             1
university of oklahoma                      1
                                           ..
lake forest college                         1
university of north carolinagreensboro    1
loyola marymount university                 1
university of kentucky                      1
smith college                               1
Name: School, Length: 416, dtype: int64

In [55]:
act_df_college_complete.head()

,School,Test Optional?,Applies to Class Year(s),Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile,act 25-27 list,percentil25th,percentil27,drop,public school state
0,stanford university,Yes,2021,Stanford has adopted a one-year test optional ...,47452,4.3%,1440-1570,32-35,"[32, 35]",32,35,None,drop
1,harvard college,Yes,2021,Harvard has adopted a one-year test optional p...,42749,4.7%,1460-1580,33-35,"[33, 35]",33,35,None,drop
2,princeton university,Yes,2021,Princeton has adopted a one-year test optional...,35370,5.5%,1440-1570,32-35,"[32, 35]",32,35,None,drop
3,columbia university,Yes,2021,Columbia has adopted a one-year test optional ...,40203,5.5%,1450-1560,33-35,"[33, 35]",33,35,None,drop
4,yale university,Yes,2021,Yale has adopted a one-year test optional poli...,36844,6.1%,1460-1570,33-35,"[33, 35]",33,35,None,drop

In [56]:
act_df_college_complete['public school state'].value_counts().head()

drop           379
Virginia         4
Texas            3
Tennessee        2
Mississippi      2
Name: public school state, dtype: int64

In [57]:
act_df_college_complete.columns

Index(['School', 'Test Optional?', 'Applies to Class Year(s)',
       'Policy Details', 'Number of Applicants', 'Accept Rate',
       'SAT Total 25th-75th Percentile', 'ACT Total 25th-75th Percentile',
       'act 25-27 list', 'percentil25th', 'percentil27', 'drop',
       'public school state'],
      dtype='object')

In [58]:
# Now will drop all columns that are not needed for anaylsis
act_df_college_complete.drop(
    labels=['ACT Total 25th-75th Percentile','School','SAT Total 25th-75th Percentile',
    'drop','Policy Details','Applies to Class Year(s)','Test Optional?','act 25-27 list'], 
    axis=1,
    inplace = True)
act_df_college_complete.head()

,Number of Applicants,Accept Rate,percentil25th,percentil27,public school state
0,47452,4.3%,32,35,drop
1,42749,4.7%,33,35,drop
2,35370,5.5%,32,35,drop
3,40203,5.5%,33,35,drop
4,36844,6.1%,33,35,drop

In [59]:
# Now will drop all unnecessary info from rows that are not public universities returning a filtered df 
act_df_college_complete = act_df_college_complete[act_df_college_complete['public school state']!='drop']

In [60]:
# the complete data frame I want to begin comparisons between act trend over 3 years and the public university range
print(act_df_college_complete.shape)

act_df_college_complete.head()

(37, 5)

,Number of Applicants,Accept Rate,percentil25th,percentil27,public school state
48,36856,20.6%,29,34,Georgia
57,40839,23.9%,30,34,Virginia
122,4676,45.3%,24,30,Texas
132,34886,48.8%,26,31,Connecticut
147,11756,53.1%,27,33,Colorado

In [61]:
# changing format so that can be utilitzed corrently for pandas syntax 
act_df_college_complete.rename(
    columns = {'Number of Applicants':'num_of_applicants',
               'Accept Rate':'acceptance_rate',
               'percentil25th': 'tot_percentile25',
               'percentil27':'tot_percentile75',
               'public school state':'pub_school_state'
              },inplace=True)

In [62]:
# checking to confirm columns have changed
act_df_college_complete.columns

Index(['num_of_applicants', 'acceptance_rate', 'tot_percentile25',
       'tot_percentile75', 'pub_school_state'],
      dtype='object')

In [63]:
# checking data types 
print('we want integer:   ',act_df_college_complete['num_of_applicants'].dtypes) 
print('we want float/int: ',act_df_college_complete['acceptance_rate'].dtypes)
print('we want integer:   ',act_df_college_complete['tot_percentile25'].dtypes)
print('we want integer:   ',act_df_college_complete['tot_percentile75'].dtypes)
print('we want object:    ',act_df_college_complete['pub_school_state'].dtypes)

we want integer:    int64
we want float/int:  object
we want integer:    object
we want integer:    object
we want object:     object

In [64]:
# checking to see if there are any unreasonable duplicates or data entry errors
print(act_df_college_complete['acceptance_rate'].unique())
print('')
print(act_df_college_complete['tot_percentile25'].unique())
print('')
print(act_df_college_complete['tot_percentile75'].unique())

['20.6%' '23.9%' '45.3%' '48.8%' '53.1%' '62.1%' '62.4%' '63.7%' '65.0%'
 '66.3%' '67.3%' '71.9%' '72.3%' '73.1%' '76.3%' '77.1%' '77.8%' '78.8%'
 '80.4%' '80.7%' '81.1%' '81.4%' '81.6%' '82.1%' '82.6%' '83.0%' '84.0%'
 '86.7%' '92.6%' '93.1%' '94.5%' '95.7%' '36.0%' '59.1%' '88.1%']

['29' '30' '24' '26' '27' '22' '25' '20' '21' '23' '19.3' '19' '17']

['34' '30' '31' '33' '29' '27' '25' '28' '26' '25.3' '24']

In [65]:
# permanently converting % string to float
act_df_college_complete['acceptance_rate'] = act_df_college_complete['acceptance_rate'].apply(prcnt_to_float)

In [66]:
# permanently converting to int
act_df_college_complete['tot_percentile25'] = act_df_college_complete['tot_percentile25'].apply(to_int)
act_df_college_complete['tot_percentile75'] = act_df_college_complete['tot_percentile75'].apply(to_int)

In [67]:
# check make sure conversions worked out
print('we want integer:   ',act_df_college_complete['num_of_applicants'].dtypes) 
print('we want float: ',act_df_college_complete['acceptance_rate'].dtypes)
print('we want integer:   ',act_df_college_complete['tot_percentile25'].dtypes)
print('we want integer:   ',act_df_college_complete['tot_percentile75'].dtypes)
print('we want object:    ',act_df_college_complete['pub_school_state'].dtypes)

we want integer:    int64
we want float:  float64
we want integer:    int64
we want integer:    int64
we want object:     object

In [68]:
# sorting df by public state names
act_df_college_complete = act_df_college_complete.sort_values(by='pub_school_state')

In [69]:
act_df_college_complete.head()

,num_of_applicants,acceptance_rate,tot_percentile25,tot_percentile75,pub_school_state
332,20205,0.807,25,31,Alabama
404,37302,0.591,23,31,Alabama
351,3673,0.830,17,24,Alaska
147,11756,0.531,27,33,Colorado
339,28319,0.814,23,29,Colorado

In [70]:
# will now export this cleaned df to perform exploratory analysis in another notebook
act_df_college_complete.to_csv('../data/pub_act_prcntile_by_st_score.csv', index=False)

In [71]:
act_df_college_complete['pub_school_state'].value_counts().head(3)

Virginia    4
Texas       3
Kansas      2
Name: pub_school_state, dtype: int64

In [72]:
# grouping college act percentile by state
st_tot_percentile25 = act_df_college_complete['tot_percentile25'].groupby(act_df_college_complete['pub_school_state'])

In [73]:
# printing the means value
round(st_tot_percentile25.mean(),2)

pub_school_state
Alabama          24.00
Alaska           17.00
Colorado         25.00
Connecticut      26.00
Delaware         25.00
Florida          26.00
Georgia          29.00
Iowa             22.00
Kansas           22.50
Kentucky         23.00
Maryland         20.00
Mississippi      21.50
Missouri         23.00
Montana          21.00
New Hampshire    22.00
New Jersey       25.00
North Dakota     20.00
Ohio             22.50
Oklahoma         23.00
Oregon           22.00
Rhode Island     20.00
Tennessee        21.50
Texas            21.67
Utah             22.00
Vermont          26.00
Virginia         24.25
Name: tot_percentile25, dtype: float64

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

In [74]:
# creation using dictionary comprehension
myDic17 = {column:manual_sd(act_df_17[column]) for column in act_df_17.drop(columns=['state']).columns} # cannot find the standard deviation for a state so dropped it in the loop
myDic18 = {column:manual_sd(act_df_18[column]) for column in act_df_18.drop(columns=['state']).columns}
myDic19 = {column:manual_sd(act_df_19[column]) for column in act_df_19.drop(columns=['state']).columns}

print ('standard deviations for act yr 2017',myDic17) 
print ('standard deviations for act yr 2018',myDic18) 
print ('standard deviations for act yr 2019',myDic19)

standard deviations for act yr 2017 {'participation_17': 0.32, 'composite_17': 2.01}
standard deviations for act yr 2018 {'participation_18': 0.34, 'composite_18': 2.1}
standard deviations for act yr 2019 {'participation_19': 0.34, 'composite_19': 2.18}


DISCUSS SD HERE IF HIGH/LOW

It is easily noticeable that Utah and Wisconsin have fairly consistent ACT scores and have extremely high participation for the past three years in a row. However to be more inclusive I will take note of the top states for the past three years. So I will look into public universities within these states and compare their total ACT 75th percentile to the average act composite score their high schoolers are scoring from 2017-2019.

---
# Data Dictionary
---

The following is a summary of the features within various data sets that will be analyzed throughout this notebook. 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|state|*object*|act_17_to_19|This is the state within the US.| 
|participation_17|*float*|act_17_to_19|This is the size of the high school population being tested in 2017.| 
|composite_17|*float*|act_17_to_19|This is the average composite score for for high school 2017.| 
|participation_18|*float*|act_17_to_19|This is the size of the high school population being tested in 2018.| 
|composite_18|float|*act_17_to_19*|This is the average composite score for 2018.| 
|participation_19|*float*|act_17_to_19|This is the size of the high school population being tested in 2019.| 
|composite_19|*float*|act_17_to_19|This is the average composite score for 2019.| 
|num_of_applicants|*int*|pub_act_prcntile_by_st_score|The number of university applicants that for each public state university.|
|acceptance_rate|*float*|pub_act_prcntile_by_st_score|The percentage of students accepted based on the number of applicants| 
|tot_percentile25|*int*|pub_act_prcntile_by_st_score|The total 25% percentile, 25% of accepted students at public universities scored at or below on the listed composite score | 
|tot_percentile75|*int*|pub_act_prcntile_by_st_score|The total 75% percentile, 75% of accepted students at public universities scored at or below on the listed composite score | 
|pub_school_state|*object*|pub_act_prcntile_by_st_score|This is the state of each 4 year public university(duplicates within this column mean that multiple public school information avaliable for that school).|

---
## Data Sources

There are 10 datasets included in the [`data`](./data/) folder for this project. You are required to pick **at least two** of these to complete your analysis. Feel free to use more than two if you would like, or add other relevant datasets you find online.

* [`act_2017.csv`](./data/act_2017.csv): 2017 ACT Scores by State ([source](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows))
* [`act_2018.csv`](./data/act_2018.csv): 2018 ACT Scores by State ([source](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows))
* [`act_2019.csv`](./data/act_2019.csv): 2019 ACT Scores by State ([source](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows))
* [`sat_act_by_college.csv`](./data/sat_act_by_college.csv): Ranges of Accepted ACT & SAT Student Scores by Colleges ([source](https://www.compassprep.com/college-profiles/))